@using Bulky.Models.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

	<div class="row pb-3">
		<h2 class="text-center mb-4">Product List</h2>
        @foreach (var item in Model) {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="@item.ImageUrl" class="card-img-top" alt="@item.Title">
                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@item.Title</p>
                                    <p class="card-title text-warning text-center">by @item.Author</p>
                                                                   
                                </div>
                                <div class="pl-1">
                                    <p class=" text-dark text-opacity-75 text-center mb-0"><span class="text-decoration-line-through">@item.ListPrice.ToString("c")</span></p>
                                 
                                </div>
                                <div class="pl-1">
                                    <p class=" text-dark text-opacity-75 text-center">As low as: <span>@item.Price100.ToString("c")</span></p>
                                </div>
                            </div>
                            <a href="/Admin/Product/Upsert?id=@item.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a> <!-- to be changed the link-->
                    </div>
                </div>
            </div>

            </div>
                    }
                
        </div>



</div>
